:root {
    --light-square: #f0d9b5;
    --dark-square: #b58863;
}

body {
    font-size: 10pt;
    font-family: "Noto Mono", sans-serif;
    color: black;
    line-height: 12pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    margin: 25px 25px 25px 25px;
}

body::-webkit-scrollbar {
    display: none;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

input {
    font-size: 10px;
}

footer {
    font-size: 8pt;
    text-align: center;
}

button, input[type=number], input[type=button], input[type=submit] {
    font-size: 12px;
    background-color: var(--light-square);
    font-family: "Noto Mono", sans-serif;
    border: 2px;
    border-radius: 8px;

    padding: 2px 8px;
    text-decoration: none;
    margin: 2px 0px;
    cursor: pointer;
}

button:active {
    background-color: var(--dark-square);
    transform: translateY(1px);
}

.buttons {
    text-align: center;
    display: block;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.options {
    width: 100px;
}

#paths {
    display: block;
}

#game_board {
    margin: 0 auto;
    width: min(100%, 360px);
}

#board_panel {
    min-width: min(100%, 360px);
    overflow-y: hidden;
}

#games_panel {
    height: 100%;
    overflow: auto;
    font-size: 11px;
}

#games_list {
    display: inline-block;
}

#games {
    text-align: center;
    white-space: nowrap;
    font-size: 9px;
}

table {
    cellspacing: 0px;
    border-collapse: collapse;
}

table#games th:nth-child(4),
table#games th:nth-child(5),
table#games th:nth-child(6),
table#games td:nth-child(4),
table#games td:nth-child(5),
table#games td:nth-child(6) {
    /* display: none; */
    width: 100px;
    max-width: 100px;
}

table#games td:nth-child(1),
table#games td:nth-child(2),
table#games td:nth-child(3),
table#games td:nth-child(8),
table#games td:nth-child(9),
table#games th:nth-child(1),
table#games th:nth-child(2),
table#games th:nth-child(3),
table#games th:nth-child(8),
table#games th:nth-child(9) {
    width: 40px;
}

table#games td:nth-child(10),
table#games th:nth-child(10) {
    width: 80px;
    text-align: left;
}

table#games td:nth-child(7),
table#games th:nth-child(7) {
    width: 130px;
}

@media screen and (orientation: portrait) {
    .column {
        width: 100%;
    }

    table#games th:nth-child(4),
    table#games th:nth-child(5),
    table#games th:nth-child(6),
    table#games td:nth-child(4),
    table#games td:nth-child(5),
    table#games td:nth-child(6) {
        display: none;
    }
}

#progress {
    width: 100%;
    background-color: var(--light-square);
    text-align: center;
    display: block;
    margin: 0 auto;
    visibility: hidden;
}

#progress_bar {
    width: 0%;
    height: 12px;
    background-color: var(--dark-square);
}

#board_with_evaluation {
    text-align: center;
    display: flex;
    width: min(100%, 400px);
    margin: 0 auto;
}

#board_with_evaluation:after {
    content: "";
    display: table;
    clear: both;
}

#evaluation {
    display: block;
    float: block;

    width: 18px;
    height: 352px;

    font-size: 7px;
    font-weight: bold;

    border: 2px solid black;
    margin: 0px 8px 0px 8px;
    background-color: var(--light-square);

    position: relative;
}

#evaluation_bar {
    height: 50%;
    width: 100%;
    background-color: var(--dark-square);
}

#evaluation_value {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

#moves {
    text-align: center;
    display: flex;
    overflow: hidden;
}

#moves_evaluation {
    display: flex;
    width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

#evaluation_chart {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left 0;
}

#moves_list_table {
    font-size: 11px;
    table-layout: fixed;
    width: 150px;
    text-decoration: none;
}

#moves_list_table a:link,  a:hover, a:visited, a:active {
    color: black;
}

table#moves_list_table tr {
    height: 20px;
}

table#moves_list_table tr:nth-child(even) {
    background-color: var(--light-square);
}

table#moves_list_table td:nth-child(n+2) {
    font-weight: bold;
}