body {
    font-size: 10pt;
    font-family: "Noto Mono", sans-serif;
    color: black;
    line-height: 12pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    margin: 50px 50px 50px 50px;
}

body::-webkit-scrollbar {
    display: none;
}

a:link, a:hover, a:visited, a:active {
   text-decoration: none;
}

input {
    font-size: 10px;
}

button, input[type=number], input[type=button], input[type=submit] {
    font-size: 12px;
    background-color: #f0d9b5;
    font-family: "Noto Mono", sans-serif;
    border: 2px;
    border-radius: 8px;

    padding: 2px 8px;
    text-decoration: none;
    margin: 2px 0px;
    cursor: pointer;
}

.buttons {
    display: inline-block;
    text-align: center;
    display: block;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.options {
    width: 100px;
}

#board {
    margin: 0 auto;
    width: min(100%, 360px);
}

#board_panel {
    min-width: min(100%, 360px);
    overflow-y: hidden;
}

#games_panel {
    height: 100%;
    overflow: auto;
    font-size: 11px;
}

#puzzlesList {
    display: inline-block;
}

#puzzles {
    text-align: center;
    white-space: nowrap;
    font-size: 9px;
}

table#puzzles th:nth-child(4),
table#puzzles th:nth-child(5),
table#puzzles th:nth-child(6),
table#puzzles td:nth-child(4),
table#puzzles td:nth-child(5),
table#puzzles td:nth-child(6) {
    /* display: none; */
    width: 100px;
    max-width: 100px;
}

table#puzzles td:nth-child(1),
table#puzzles td:nth-child(2),
table#puzzles td:nth-child(3),
table#puzzles td:nth-child(8),
table#puzzles td:nth-child(9),
table#puzzles th:nth-child(1),
table#puzzles th:nth-child(2),
table#puzzles th:nth-child(3),
table#puzzles th:nth-child(8),
table#puzzles th:nth-child(9) {
    width: 40px;
}

table#puzzles td:nth-child(10),
table#puzzles th:nth-child(10) {
    width: 80px;
    text-align: left;
}

table#puzzles td:nth-child(7),
table#puzzles th:nth-child(7) {
    width: 130px;
}

@media screen and (orientation: portrait) {
    .column {
        width: 100%;
    }

    table#puzzles th:nth-child(4),
    table#puzzles th:nth-child(5),
    table#puzzles th:nth-child(6),
    table#puzzles td:nth-child(4),
    table#puzzles td:nth-child(5),
    table#puzzles td:nth-child(6) {
        display: none;
    }
}
