venv/

.ipynb_checkpoints/
__pycache__/

*.idea/
*/.ipynb_checkpoints/*

*.json
*.pgn
*.tactic
*.vars
*.progress
*.temp

*.log
*.error
*.txt
*.exe

chess.js
chessboard-1.0.0.min.js
jquery-3.4.1.min.js
parser.js
sorttable.js
chessboard-1.0.0.min.css
