venv/
node_modules/

.ipynb_checkpoints/
__pycache__/

*.idea/
*/.ipynb_checkpoints/*

static/css/import
static/js/import

*.json
*.pgn
*.tactic
*.vars
*.rev
*.progress
*.temp

*.log
*.error
*.txt
*.exe

*.db
*.rtbw
*.rtbz
*.pkl
*.cp4
md5sum

wsgi.py

**/import/
chess.js
chessboard-1.0.0.min.js
jquery-3.4.1.min.js
parser.js
sorttable.js
chessboard-arrows.js

chessboard-1.0.0.min.css
chessboard-arrows.css
